<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>

        
        <input-field type="text">
            <name>defaultTax</name>
            <label>Default Tax Id</label>
            <helpText>Enter the Id of the tax that can be used when the tax is null.</helpText>
        </input-field>

    </card>
</config>